.select {
    position: relative;
    top: 35px;
    margin-left: 60px;
}
.date-picker {
    position: relative;
    top: 40px;
    float: right;
    margin-right: 100px;
    font: 12px sans-serif;
}

:host ::ng-deep .button-group {
    font: 12px sans-serif;
}

:host ::ng-deep .button rect {
    cursor: pointer;
    fill: lightgrey;
    opacity: 0.3;
}

:host ::ng-deep .button text {
    cursor: pointer;
    opacity: 0.7;
}

:host ::ng-deep .button:hover rect {
    fill: grey;
}

:host ::ng-deep .button:hover text {
    opacity: 1;
}

:host ::ng-deep .axisLabel {
    font: 14px sans-serif;
}
  
:host ::ng-deep .axis {
    font: 10px sans-serif;
}

:host ::ng-deep .axis line, 
:host ::ng-deep .axis path {
    fill: none;
    stroke: lightgray;
    stroke-width: 2px;
}

:host ::ng-deep .legend text {
    font: 12px sans-serif;
}
  

:host ::ng-deep .focus circle {
    fill: white;
    stroke-width: 3px;
}

:host ::ng-deep .focus text {
    font: 12px sans-serif;
}

:host ::ng-deep .overlay {
    fill: none;
    pointer-events: all;
}

:host ::ng-deep .line {
    fill: none;
    stroke-width: 2px;
}

:host ::ng-deep .dateTip text {
    font: 12px sans-serif;
}

:host ::ng-deep .dateTip .hover-line {
    stroke: gray;
    stroke-width: 1px;
    stroke-dasharray: 3 3;
}

:host ::ng-deep .button-selected {
    fill: cornflowerblue !important;
}

.hide {
    display: none;
}