<div (window:resize)="onResize($event)">
  <app-line-chart
    dataUrl = 'assets/coins.json'
    yValue = price_usd
    [showBrush] = true
    [showSelect] = true>
  </app-line-chart>
  <br><br>
  <div style="display: inline-block">
    <app-scatter-plot
      width = 400
      height = 400
      dataUrl = 'assets/countriesScatterPlot.json'
      [defaultSpot]="selectedSpot"
      (selectedSpot)="onSelectedSpot($event)">
    </app-scatter-plot>
  </div>
  <div style="display: inline-block">
    <app-map-container
      width = 400
      height = 400
      [country] = "selectedSpot"
      [clickable] = true
      [scalable] = false
      [showSelector] = true
      [escZoomOut] = true
      (selectedCountry) = "onSelectedSpot($event)">
    </app-map-container>
  </div>
</div>
