:host ::ng-deep .axisLabel {
    font: 14px sans-serif;
}
  
:host ::ng-deep .axis {
    font: 10px sans-serif;
}

:host ::ng-deep .axis line, 
:host ::ng-deep .axis path {
    fill: none;
    stroke: lightgray;
    stroke-width: 2px;
}

:host ::ng-deep .legend text {
    font: 12px sans-serif;
}

:host ::ng-deep .reference-line {
    stroke: rgba(211, 211, 211, 0.4);
    stroke-width: 1px;
}

:host ::ng-deep .spot {
    fill: rgba(139, 211, 255, 0.3);
    cursor: pointer;
}

:host ::ng-deep .default-spot {
    fill: rgba(255, 165, 0, 0.6);
}

:host ::ng-deep .default-spot-hover {
    fill: rgba(255, 165, 0, 1);
    stroke: rgba(255, 165, 0, 0.5);
    stroke-width: 8px;
}

:host ::ng-deep .hover-spot {
    fill: rgba(139, 211, 255, 1);
    stroke: rgba(135, 206, 250, 0.5);
    stroke-width: 8px;
}

:host ::ng-deep .select-spot {
    fill: rgba(255, 165, 0, 1);
    stroke: rgba(255, 165, 0, 0.5);
    stroke-width: 8px;
}

:host ::ng-deep .scatter-plot-tooltip .hover-line {
    stroke: gray;
    stroke-width: 2px;
    stroke-dasharray: 3 3;
}

:host ::ng-deep .scatter-plot-tooltip text{
    font: 14px sans-serif;
}


  